html, body {
    background: #333;
}

#videos {
    width: 660px;
    float: left;
}

#thumbnails {
    width: 100%;
}

#thumbnails #links {
    width: 150px;
    height: 150px;
    background: #ccc;
    overflow-y: auto;
    white-space: normal;
}
